@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 46 29% 97%;
    --foreground: 90 4% 10%;
    --card: 0 0% 100%;
    --card-foreground: 90 4% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 90 4% 10%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 11 100% 35%;
    --secondary-foreground: 0 0% 100%;
    --muted: 46 29% 97%;
    --muted-foreground: 180 2% 28%;
    --accent: 46 29% 97%;
    --accent-foreground: 90 4% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 0 0% 0%;
    --radius: 0.125rem;
  }
}